<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link rel="stylesheet" href="../styles/photon-0.1.2-dist/css/photon.min.css">
    <link href="../styles/styles.css" rel="stylesheet">
    <title>Nature's Palette Validator</title>
  </head>
  <body>

    <div class="container">
      <h1>NP Validator</h1>
      <div class="form-group">
        <div><b>Select metadata csv</b></div>
        <button id="selectMetaData"  class="btn btn-default"><span class="icon icon-folder icon-text"></span> Select metadata csv</button>
        <span id="metadataOutput">No metadata selected</span>
      </div>
      <div class="form-group">
        <div><b>Select raw data folder</b></div>
        <button id="dataFolder"  class="btn btn-default"><span class="icon icon-folder icon-text"></span> Select raw data directory</button>
        <span id="directoryOutput"> No directory selected</span>
      </div>
      <div class="form-group">
        <button id="validate"  class="btn btn-primary">Validate</button>
        <div id="validateOutput"></div>
      </div>
    </div>
    


    <!-- You can also require other files to run in this process -->
    <script src="../js/indexRenderer.js"></script>
  </body>
</html>
