<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link rel="stylesheet" href="../styles/photon-0.1.2-dist/css/photon.min.css">
    <link href="../styles/styles.css" rel="stylesheet">
    <title>Nature's Palette Validator</title>
  </head>
  <body>
    <header class="toolbar toolbar-header"> 
      <h1 class="title">Nature's Palette Validator</h1>
    </header>
    <!-- <h1 class="text-center">Nature's Palette Validator</h1> -->
    <div class="container homeContainer">
      <label class="customFormLabel2">Choose files</label>

      <hr>

      <div class="form-group">
        <div><label class="customFormLabel">Metadata (.csv)</label></div>
        <div class="customFormGroup">
          <button id="selectMetaData"  class="btn btn-default"><span class="icon icon-folder icon-text"></span> Select metadata csv</button>
          <span id="metadataOutput">No metadata selected</span>
        </div>
      </div>

      <div class="form-group">
        <div><label class="customFormLabel">Raw data files (folder)</label></div>
        <div class="customFormGroup">
          <button id="dataFolder"  class="btn btn-default"><span class="icon icon-folder icon-text"></span> Select raw data directory</button>
          <span id="directoryOutput"> No directory selected</span>
        </div>
      </div>

      <div class="form-group">
        <button id="validate"  class="btn btn-large btn-primary">Validate</button>
        <div id="validateOutput"></div>
      </div>
    </div>
    


    <!-- Scripts -->
    <script src="../js/indexRenderer.js"></script>
  </body>
</html>
